<h1>Posts</h1>
<div id="posts">
  <% @posts.each do |post| %>
    <div id="<%= dom_id post %>" class="card" style="width: 35rem;">
      <div class="card-body">
        <h3 class="card-title"><%= post.title %></h3>
          <h5 class="card-text"><%= post.content %></h5>
          <i>
            Posted <%= time_tag post.created_at, "data-local": "time-ago" %>
          </i>
          <p>
          <strong><%= pluralize post.comments.count, "comment"%></strong>
          </p>
          <%= link_to "show",  post,  class:"btn btn-outline-secondary" %>
      </div>
    </div>
    <br>
  <% end %>
</div>

