<!DOCTYPE html>
<html>
  <head>
    <title>PostsDemo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%= render 'layouts/navgation' %>
      <div class = "row">
        <div class="col">
          1/1
        </div>
        <div class="col-6">
          <div class="container">
            <%= render 'layouts/messages' %>
            <%= yield %>
          </div>
        </div>
        <div class="col">
          3/3
        </div>
      </div>
  </body>
</html>
